# Task 01

In [1]:
import pandas as pd

## Step 1: Load data using Pandas

In [2]:
df = pd.read_csv("./datasets/student_performance.csv")
print(type(df))
df.head()

<class 'pandas.core.frame.DataFrame'>

,student_id,age,gender,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,diet_quality,exercise_frequency,parental_education_level,internet_quality,mental_health_rating,extracurricular_participation,exam_score
0,S1000,23,Female,0.0,1.2,1.1,No,85.0,8.0,Fair,6,Master,Average,8,Yes,56.2
1,S1001,20,Female,6.9,2.8,2.3,No,97.3,4.6,Good,6,High School,Average,8,No,100.0
2,S1002,21,Male,1.4,3.1,1.3,No,94.8,8.0,Poor,1,High School,Poor,1,No,34.3
3,S1003,23,Female,1.0,3.9,1.0,No,71.0,9.2,Poor,4,Master,Good,1,Yes,26.8
4,S1004,19,Female,5.0,4.4,0.5,No,90.9,4.9,Fair,3,Master,Good,1,No,66.4

In [3]:
df = df[["student_id", "study_hours_per_day", "exam_score"]]
df.head()

  student_id  study_hours_per_day  exam_score
0      S1000                  0.0        56.2
1      S1001                  6.9       100.0
2      S1002                  1.4        34.3
3      S1003                  1.0        26.8
4      S1004                  5.0        66.4

## Step 2: Find total number of students.

In [4]:
print("Total number of students:", totalStudents := df.shape[0])

Total number of students: 1000

## Step 3: Students who studied greater than 2 hours

In [5]:
mask1 = df["study_hours_per_day"] > 2
print(type(mask1))
studentsStudied = df[mask1]
print("Number of students who studied more than 2 hours:", studentsStudied.shape[0])

<class 'pandas.core.series.Series'>
Number of students who studied more than 2 hours: 846

## Step 4: Students who passed assuming (atleast 35 is required for passing)

In [6]:
mask2 = df["exam_score"] >= 35
print(type(mask2))
studentsPassed = df[mask2]
print("Number of students who passed:", studentsPassed.shape[0])

<class 'pandas.core.series.Series'>
Number of students who passed: 976

## Step 5: Percentage of students who studied more than 2 hours got passed

In [7]:
studentsStudiedAndPassed = df[mask1 & mask2]
print("Number of students who studied ans passed:", (studentsStudiedAndPassed.shape[0] / totalStudents) * 100, "%")

Number of students who studied ans passed: 84.5 %

## Step 6: Use Bayes Theorem: P(student studied more than 2 hours | passed)

Baye's Theorem: If $E_1, E_2, ..., E_n$ are $n$ non-empty events which constitutes a partition of sample space $S$, i.e. $E_1, E_2, ..., E_n$ are pairwise disjoint and $E_1 \cup E_2 \cup ... \cup E_n = S$ and $A$ is any event of non-zero probability, then 

$$
P(E_i \mid A) = \frac{P(A \mid E_i) \cdot P(E_i)}{\sum_{j=1}^{n} P(A \mid E_j) \cdot P(E_j)}
$$

<p align="center"><img src="./media/bayes-theorem.png" align="center" width="300" height="auto" alt="Bayes Theorem Figure" /></p>

<p color="red"><strong>NOTE:</strong> Applying bayes theorem for single partition is dumbness. We can use conditional probability </p>

In [ ]:
pStudentPassed = df[df["exam_score"] > 35].shape[0] / totalStudents # A
pStudentStudied = df[df["study_hours_per_day"] > 2].shape[0] / totalStudents # E1
pStudentPassedStudied = (df[(df["exam_score"] > 35) & (df["study_hours_per_day"] > 2)].shape[0] / totalStudents) / pStudentStudied # A | E1
requiredProbability = (pStudentPassed * pStudentPassedStudied) / pStudentPassed # E1 | A
print("Required probability:", requiredProbability)

Required probability: 0.9988179669030733